@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

:root {
  --primary-white: #fff;
  --main: #454545;
  --primary-dark: rgba (255,255, 255, 0);
  --primary-blue: #8caecb;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**************************************************/
/**************************************************/

body {
  font-family: 'Alegreya', serif !important
}

/****************** Navbar ********************************/

/* .logo {
  
  width: 2rem;
} */

/*************** Menu Links **************/

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.04rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  padding: 1rem;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--main) !important;
  border-top: 0.2rem solid var(--primary-dark);
}

h1.navbar-heading {
  color: var(--primary-blue) !important;
  /* max-width: 17.5rem; */
  padding: 5%;
  /* padding: 0 !important;
  height: 6rem !important; */
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-bottom: 0.2rem solid var(--primary-white);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.2rem solid var(--primary-blue);
}

.navbar-toggler {
  color: var(--primary-blue);
}